<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Book</th>
                        <th scope="col">Author</th>
                        <th scope="col">Language</th>
                        <th scope="col">Published Year</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr *ngFor="let i of booksData">
                        <td>{{i.book_name}}</td>
                        <td>{{i.author}}</td>
                        <td>{{i.language}}</td>
                        <td>{{i.published}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>